@page
@model Frontend.Pages.CEquipo.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Equipos</h1>
<p>
    <a asp-page="Create" class="btn btn-success"> Añadir Equipo Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
           <th>Nombre</th>
           <th>Disciplina</th>   
           <th>Patrocinador</th>
           <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var equi in Model.EquiposView)
        {
            <tr>                
                <td>@equi.Nombre</td>
                <td>@equi.Disciplina</td>
                <td>@equi.Patrocinador</td>              
                
                <td>
                    <a asp-page="./Edit" asp-route-id="@equi.Id" class="btn btn-info">Editar</a>
                    <a asp-page="./Details" asp-route-id="@equi.Id" class="btn btn-info">Detalles</a>
                    <a asp-page="./Delete" asp-route-id="@equi.Id" class="btn btn-danger" >Eliminar</a>                
                </td>
            </tr>
        }
        
    </tbody>
</table>